{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Список ЖК</h1>

<div class="row">
    {% for jk in jk_list %}
    <div class="col-md-4 col-lg-3">
        <div class="card jk-card">
            <img src="https://via.placeholder.com/300x200?text={{ jk.name }}" class="card-img-top" alt="{{ jk.name }}">
            <span class="badge area-badge text-white">{{ jk.area }}</span>
            <div class="card-body">
                <h5 class="card-title">{{ jk.name }}</h5>
                <p class="card-text">{{ jk.description }}</p>
                <a href="#" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}