{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Список ЖК</h1>

    <div class="row">
        {% for jk in jk_list %}
        <div class="col-md-4 col-lg-3">
            <div class="card jk-card">
                {% if jk.media.first %}
                <img src="{{ jk.media.first.image.url }}" class="card-img-top" alt="{{ jk.name }}">
                {% else %}
                <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="{{ jk.name }}">
                {% endif %}
                <span class="badge area-badge text-white">{{ jk.area }}</span>
                <div class="card-body">
                    <h5 class="card-title">{{ jk.name }}</h5>
                    <p class="card-text">{{ jk.description|truncatewords:30 }}</p>
                    <a href="{% url 'houses_list' jk.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <div class="alert alert-info">
                Пока нет доступных ЖК
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}